@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PerfumeShop.Models.utils.LoginViewModel

<form asp-action="Login" method="post">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
    </div>
    <div>
        <input asp-for="RememberMe" type="checkbox" />
        <label asp-for="RememberMe">Remember Me</label>
    </div>
    <button type="submit">Login</button>
</form>